In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('dataset_at_the_end.csv')
df.head()

,Unnamed: 0,genre,storyline,title
0,0,Action Comedy Crime,"Elwood, the now lone ""Blues Brother"" finally r...",Braća Blues 2000
1,1,Comedy Drama Family,Troy and the gang of East High School are goin...,High School Musical 3: Maturanti
2,2,Comedy Family Music,"When the teenager Mary Elizabeth Steppe, a.k.a...",Confessions of a Teenage Drama Queen
3,3,Animation Comedy Family,After a concert mishap lands Dave in the hospi...,Alvin and the Chipmunks: The Squeakquel
4,4,Animation Adventure Comedy,"Playing around while aboard a cruise ship, the...",Alvin i vjeverice 3

In [21]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size = 0.25)

train.to_csv('dataset_train.csv')
test.to_csv('dataset_test.csv')

In [22]:
train_lines = []

for index, row in train.iterrows():
    genres = row['genre'].split(" ")
    for genre in genres:
        line = '__label__' + genre + ' ' + row['storyline'] 
        train_lines.append(line)

In [28]:
test_lines = []

for index, row in test.iterrows():
    genres = row['genre'].split(" ")
    for genre in genres:
        line = '__label__' + genre + ' ' + row['storyline'] 
        test_lines.append(line)

In [24]:
train_lines[0]

'__label__Comedy Number 5, one of a group of experimental military robots, undergoes a sudden transformation after being struck by lightning. He develops self-awareness, consciousness, and a fear of the reprogramming that awaits him back at the factory. With the help of a young woman, Number 5 tries to evade capture and convince his creator that he has truly become alive.'

In [26]:
type(train_lines)

list

In [27]:
with open('dataset_train.txt', 'w') as f:
    for line in train_lines:
        f.write("%s\n" % line)

In [29]:
with open('dataset_test.txt', 'w') as f:
    for line in test_lines:
        f.write("%s\n" % line)